__pycache__/
*.py[cod]
*$py.class
*.so
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite3-journal
staticfiles/
db.sqlite3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.DS_Store
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.egg-info/
.installed.cfg
lib/
lib64/
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints
*.ipynb
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.json
*.mo
*.pot
docs/_build/
target/
out/
.python-version
.mypy_cache/
/root/
